<footer class="bg-main-light py-4">
    <div class="container">
        <h2>Get The Freshcart App !</h2>
        <p class="text-muted">We Will Send You a Link</p>
        <div class="d-flex justify-content-between">
            <div class="w-75"> <input type="email" class=" form-control" placeholder="Email ..."></div>
            <button class="btn submit-btn">Get App Link</button>
        </div>
        <hr>
        <h3 class="h6 text-center text-muted">&copy; 2023 Esraa Nasser All Rights Reserved </h3>
    </div>
</footer>