<div *ngIf="step1" class="w-75 mx-auto py-4">

    <form [formGroup]="forgetform" (ngSubmit)="forgetpassword()">



        <label for="email">email:</label>
        <input formControlName="email" type="email" class="form-control mb-2" id="email">
        <div *ngIf="forgetform.get('email')?.errors && forgetform.get('email')?.touched" class="alert alert-danger">
            <p *ngIf="forgetform.get('email')?.getError('email')" class="m-0">Incorrect email </p>
            <p *ngIf="forgetform.get('email')?.getError('required')" class="m-0">Email is required</p>
        </div>


        <button [disabled]="forgetform.invalid" type="submit"
            class="d-block border-none border-0 ms-auto btn submit-btn">
            <span> get reset code </span>
        </button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto mt-3 text-center mb-0 p-1">{{ userMsg }}</p>

    </form>



</div>

<div *ngIf="step2" class="w-75 mx-auto py-4">

    <form [formGroup]="resetcodeform" (ngSubmit)="resetCode()">



        <label for="resetCode">Reset code:</label>
        <input type="text" formControlName="resetCode" class="form-control mb-2" id="resetCode">
        <div *ngIf="resetcodeform.get('resetcode')?.errors && resetcodeform.get('resetcode')?.touched"
            class="alert alert-danger">
            <!-- <p *ngIf="resetcodeform.get('resetcode')?.getError('pattern')" class="m-0">Incorrect code</p> -->
            <p *ngIf="resetcodeform.get('resetcode')?.getError('required')" class="m-0">code is required</p>
        </div>


        <button [disabled]="resetcodeform.invalid" type="submit"
            class="d-block border-none border-0 ms-auto btn submit-btn">
            <span>send code</span>
        </button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto mt-3 text-center mb-0 p-1">{{ userMsg }}</p>
    </form>



</div>

<div *ngIf="step3" class="w-75 mx-auto py-4">

    <form [formGroup]="Resetpasswordform" (ngSubmit)="newpassword()">


        <label for="newPassword">Reset password:</label>
        <input formControlName="newPassword" type="password" class="form-control mb-2" id="newPassword">
        <div *ngIf="Resetpasswordform.get('newPassword')?.errors && Resetpasswordform.get('newPassword')?.touched"
            class="alert alert-danger">
            <p *ngIf="Resetpasswordform.get('newPassword')?.getError('pattern')" class="m-0">Invalied password</p>
            <p *ngIf="Resetpasswordform.get('newPassword')?.getError('required')" class="m-0">password is required</p>
        </div>


        <button [disabled]="Resetpasswordform.invalid" type="submit"
            class="d-block border-none border-0 ms-auto btn submit-btn">

            <span>confirm new password:</span>
        </button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto mt-3 text-center mb-0 p-1">{{ userMsg }}</p>

    </form>



</div>